

# pre-build
Source/Backend/BlockLists.txt
Source/Backend/PriorityLists.txt
Source/Backend/ListsMerger


# Binaries
Build
*.a
drill-ui
drill-cli

# D
dub.selections.json
.dub
*.def

#AppImage
*.AppImage
Tools/AppImage/Drill/
pkg2appimage*

#.deb
Tools/deb/DEBFILE
*.deb

# Windows
*.lib
*.exe
.vs

# RedHat
*.rpm
*.spec
Tools/rpm/build
*.tar.gz
*.log

#Flatpak
.flatpak-builder



*.o


