# D
.dub
dub.selections.json
*.def

# Binaries
/Build
/Output

# Generic log files
*.log


/vcpkg


# Travis
/dmd2
/DEBFILE
/dmd.*.tar
/dmd.*.tar.xz


GTK_x86_64_VS*


# AppImage
Drill.AppDir
*.AppImage*


/NWjs/Drill-CLI-windows-x86_64-release