# D
.dub
dub.selections.json

# Binaries
/Build
/Output

# Generic log files
*.log


/vcpkg
DRILL_VERSION

# Travis
/dmd2
/DEBFILE
/dmd.*.tar
/dmd.*.tar.xz





# Created by https://www.gitignore.io/api/c++,cmake
# Edit at https://www.gitignore.io/?templates=c++,cmake


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### CMake ###
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

### CMake Patch ###
# External projects
*-prefix/

# End of https://www.gitignore.io/api/c++,cmake


GTKCpp/Assets
GTKCpp/DrillGTK


.vscode
.vs