os:
- linux
- windows
- osx

language: bash

before_install:
 - export TRAVIS_TAG="1.$TRAVIS_BUILD_NUMBER"
 - echo -n $TRAVIS_TAG > DRILL_VERSION

addons:
  #linux
  apt:
    packages:
      - desktop-file-utils
      - p7zip-full
  #osx
  homebrew:
    update: true
    packages:
      - dmd
      - gtk+3
      - dub
      - p7zip


script:
  #linux
  - >
    if [ "$TRAVIS_OS_NAME" == "linux" ]; then 
    
      # download and install D
      # don't use apt dmd because it uses GDC, we need DMD or LDC (GDC is broken with gtkd)
      curl -fsS https://dlang.org/install.sh | bash -s dmd;
      source ~/dlang/dmd-2.086.0/activate;

      # build and package CLI
      cd source/cli
      dub build -b release --parallel --arch=x86_64
      cd ../../
      7z a -tzip Drill-CLI-$TRAVIS_OS-$TRAVIS_TAG.zip assets drill-cli.elf DRILL_VERSION

      # build and package GTK UI frontend
      cd source/gtkui
      dub build -b release --parallel --arch=x86_64
      cd ../../
      7z a -tzip Drill-GTK-$TRAVIS_OS-$TRAVIS_TAG.zip assets drill-gtk.elf DRILL_VERSION

      # build .deb file
      cd tools/deb
      sh generate_deb.sh
      cd ../../

      # build AppImage
      cd tools/appimage
      sh gtk.sh
      cd ../../
    fi

  #windows
  - >
    if [ "$TRAVIS_OS_NAME" == "windows" ]; 
      then wget http://downloads.dlang.org/nightlies/dmd-master/dmd.master.windows.7z;
      7z x dmd.master.windows.7z;
      git clone https://github.com/yatima1460/GTK3-Windows-32bit;
      dmd2/windows/bin/dub build -c CLI -b release --parallel --force --arch=x86;
      7z a -tzip Drill-CLI-Windows-x86.zip assets Drill-CLI.exe;
      dmd2/windows/bin/dub build -c GTK -b release --parallel --force --arch=x86;
      mv GTK3-Windows-32bit/*.dll .;
      7z a -tzip Drill-GTK-Windows-x86.zip assets Drill-GTK.exe DRILL_VERSION *.dll;
    fi



  #osx 
   - >
     if [ "$TRAVIS_OS_NAME" = "osx" ]; then
       dub build -c CLI -b release --parallel --force --arch=x86_64;
       7z a -tzip Drill-CLI-OSX.zip assets Drill-CLI DRILL_VERSION;
       dub build -c GTK -b release --parallel --force --arch=x86_64;
       7z a -tzip Drill-GTK-OSX.zip assets Drill-GTK DRILL_VERSION;
     fi

  
before_deploy:
  - test -f tools/appimage/Drill-GTK.AppImage
  - test -f tools/deb/Drill-GTK.deb
  - test -f Drill-GTK-AppDir.zip
  - test -f Drill-CLI-AppDir.zip
  - test -f Drill-CLI-Windows-x86.zip
  - test -f Drill-GTK-Windows-x86.zip

before_deploy:
 - git config --local user.name "Federico Santamorena"
 - git config --local user.email "federico@santamorena.me"
 #- git tag "$TRAVIS_TAG" "$TRAVIS_COMMIT"

deploy:
  provider: releases
  skip_cleanup: true
  draft: false
  prerelease: true
  name: $TRAVIS_TAG
  body: Automated Travis build
  target_commitish: $TRAVIS_COMMIT
  api_key:
    secure: $GITHUB_TOKEN
  file: 
    - tools/appimage/Drill-GTK.AppImage
    - tools/deb/Drill-GTK.deb
    - Drill-GTK-AppDir.zip
    - Drill-CLI-AppDir.zip
    - Drill-CLI-Windows-x86.zip
    - Drill-GTK-Windows-x86.zip
    
    #- tools/appimage/Drill-CLI.AppImage
    #- Drill-CLI-Windows.zip
    #- Drill-GTK-Windows.zip
    #- Drill-GTK-OSX.zip
    #- Drill-CLI-OSX.zip
    
    
  on:
    repo: yatima1460/Drill

notifications:
  email:
    on_success: never
    on_failure: always
