
html, body {
    margin: 0;
    padding: 0;
}

#main {

}

#search {

    width: 100%;
    
    
    font-size: 3em;
    padding: 0.2em;
    margin: 0;
}

.icon {
    margin: 1em;
    margin: auto;
}
.icon img {
    width: 3em;
    height: 3em;
}
.name {
    width: 50%;
    font-size: 2em;

  
    margin: auto;
  
}

.path {
    display: none;
    width: 0%;
    margin: auto;
}

.date {
    width: 30%;
    font-size: 1em;
    margin: auto;
}


.result {
    font-size: 1em;
    padding: 0.2em;

    display: flex;
    flex-direction: row;
   
    flex-wrap: nowrap;

    margin-bottom: 0.5em;

  
   
   
}


/* .result:div {
    display: none;
    overflow: hidden;

} */

#results {

    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    flex-wrap: nowrap;
}

.result:nth-child(2n+1) {
    background: #EEEEEE;
  }