[Desktop Entry]
Version=1.0
Name=Drill
Type=Application
Comment=Search files without using indexing, but clever crawling
Comment[it]=Trova files sul tuo PC senza indicizzare, ma cercando intelligentemente
Icon=icon.svg
Exec=sh drill-search.sh
Terminal=false
Categories=Application;Utility;GTK;
Keywords=Search;FileSearch;File Search;Find;