[Desktop Entry]
Name=Drill
Type=Application
Comment=Search files without using indexing, but clever crawling
Comment[it]=Cerca files senza indicizzare, ma con una ricerca intelligente
Exec=./drill-search-gtk
TryExec=./drill-search-gtk
Icon=drill-search-gtk
Terminal=false
Categories=Utility;
Keywords=Search;FileSearch;File Search;Find;Search;
