Package: drill
Version: 0.1.1
Architecture: all
Maintainer: Federico Santamorena<federico@santamorena.me>
Installed-Size: 2
Depends: python3-tk, python3-psutil
Section: extras
Priority: standard
Homepage: https://github.com/yatima1460/drill
Description: Search files without using indexing, but clever crawling
