[Desktop Entry]
Name=Drill
Type=Application
Comment=Search files without using indexing, but clever crawling
Icon=drill-search
Exec=/usr/bin/drill-search
TryExec=/usr/bin/drill-search
Terminal=false
Categories=Utility;GTK;System;X-Other;
Keywords=Search;FileSearch;File Search;Find;Search;
