@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ 
  margin: auto;
  width:75%;
}


.main-content {
  word-wrap: break-word; 
  display: flex;
  flex-direction: column;
  align-items: center;

  
}
  
  
.screenshot {
  max-width: 42%;
  border: 0.1em solid grey;
  border-radius: 0.25em;
}

.version {
  padding: 1em;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #606c71; 
}


/* Drill logo and title */




.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem;
  color: black; 
}


.project-tagline{
  text-align: center;
}

body {
  margin: 0;
}
   



.btn img {
  float: left;
  
  height: 2em;
  
  background: white; 
}


 .btn {
    display: flex;
    flex-direction: row;

    margin-bottom: 1rem;
    color: black;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 0.05em;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s; 

    

    text-align: center;
    justify-content:center;
    align-content:center;
    align-items: center;

 
    
  
}
   
.btn:hover {
  color: red; 
  background-color: white;
  border-color: red; 
  text-decoration: underline; 
}

.spacer {
  width: 100%;
}

.btn {
  
  width: 100%;
  padding: 0.75rem;
 
}


  /* Selects any disabled <input> */
.disabled {
  cursor: not-allowed;
  color: grey;
  text-decoration: line-through;
  filter: grayscale(1);
  opacity: 0.5;
}

.disabled:hover{
  text-decoration: none; 
}



a {
    /* color: #1e6bb8; */
  text-decoration: none; 
  
}
  

.downloads {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  
 
  text-align: center;
  justify-content:center;
  align-content:center;
  
  
}


.title {
  display: flex;
  flex-direction: row;

  text-align: center;
  justify-content:center;
  align-content:center;
  align-items: center;
  padding-top: 2em;

}

.title h1 {
  font-size: 3em;
}

.title img {
    float: left;
    width: 6em;
    height: 6em;
    background: white; 
}



.os {
  /* column | row */
  display: flex;
  flex-direction: column; 
 
 
  width: 15em;
  padding: 3em;

  align-items: center;
}


.os-header {
  display: flex;
  flex-direction: row;

  text-align: center;
  justify-content:center;
  align-content:center;
  align-items: center;
}

.os-header img {
    
    padding-right: 1em;
    height: 3em;
    background: white; 
}


.site-footer{
  padding-top: 4em;
  display: flex;
  flex-direction: column;
  width: 100%;

  text-align: center;
  justify-content:center;
  align-content:center;
  align-items: center;



}

.currently-active {
                    
  border: solid 1px #AFAFAF;
  border-radius: 0.5em;
  padding: 0.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
justify-content:center;
align-content:center;
align-items: center;
}

.site-footer img{
  height: 2em;
}
.site-footer a{
  padding: 0.4em;
}

.footer-buttons-social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.footer-buttons-travis {
  display: flex;

  
 
  flex-wrap: wrap;
  padding-top: 1em;

  justify-content:center;
align-content:center;
align-items: center;
}

@media all and (orientation: portrait) {
  .footer-buttons-travis {
    flex-direction: column;
  }
}
@media all and (orientation: landscape) {
  .footer-buttons-travis {
    flex-direction: row;
  }
}

.footer-buttons a{
  padding: 0.1em;
}




@media all and (orientation: portrait) {
  .desktop-only {
  display: none;
  }
}
